* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 400px;
  padding: 3px;
  background-color: black;
}
.display {
  background-color: rgb(201, 198, 198);
}
.row {
  margin: 5px;
  gap: 5px;
  display: flex;
  height: 60px;
}
.row > button {
  min-width: 50px;
  width: 25%;
  flex-grow: 1;
}
.row > .double {
  min-width: 105px;
  width: calc(50% + 5px);
}
