* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 400px;
  padding: 3px;
  background-color: black;
}
.display {
  background-color: rgb(201, 198, 198);
  align-items: center;
  justify-content: end;
}
.row {
  margin: 5px;
  gap: 5px;
  display: flex;
  height: 60px;
}
.row > button {
  border-radius: 10%;
  min-width: 50px;
  width: 25%;
  flex-grow: 1;
  font-size: 40px;
}
.row > .double {
  min-width: 105px;
  width: calc(50% + 5px);
}
.operand {
  background-color: bisque;
}
.operator {
  background-color: blueviolet;
}
.clear,
.sign,
.percent {
  background-color: aquamarine;
}
.value {
  font-size: 3em;
}
